{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center p-2">Inventario</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Company</th>
        <th scope="col">Category</th>
        <th scope="col">Unit</th>
        <th scope="col">Price</th>
        <th scope="col text-center">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.company }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.price }}</td>
        <td><a class="btn btn-danger btn-sm" href="{% url 'delete_item' item.id %}">Delete</a></td>
        <td><a class="btn btn-primary btn-sm" href="{% url 'update_item' item.id %}">Update</a></td>
      </tr>
    </tbody>
    {% endfor %}
    <a class="btn btn-primary btn-sm" href="{% url 'create_item' %}">Create</a>
  </table>
{% endblock %}